// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"En farve": $cyan-400,
				"baggrundsfarve": adjust-color(#f4f0e6),
				"knapfarve": adjust-color(#d7e5e8),
				"tekstfarve": adjust-color(#202020),

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


body{
	font-family: "Zen Antique", sans-serif; color: #202020;
}


.btn-shadow {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.video-container {
	position: relative;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}
.video-container video {
	width: 100%;
	height: auto;
}
.btn-over-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.arrowleft{
	font-size: 35px;
;
}

.btn-privat {
	font-size: 100px;
}
